@model FrameGeometry.Models.Geometry

@{
    ViewData["Title"] = "Create";
}
<script src="~/js/jscolor.js"></script>
<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Geometry</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="make" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="make" class="form-control" />
                <span asp-validation-for="make" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="model" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="model" class="form-control" />
                <span asp-validation-for="model" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="size" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="size" class="form-control" />
                <span asp-validation-for="size" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="color" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="color" class="jscolor" />
                <span asp-validation-for="color" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="enabled" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="enabled" class="form-control" />
                <span asp-validation-for="enabled" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HTA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HTA" class="form-control" />
                <span asp-validation-for="HTA" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HTL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HTL" class="form-control" />
                <span asp-validation-for="HTL" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="STA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="STA" class="form-control" />
                <span asp-validation-for="STA" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="STL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="STL" class="form-control" />
                <span asp-validation-for="STL" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="bbdrop" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="bbdrop" class="form-control" />
                <span asp-validation-for="bbdrop" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="chainstay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="chainstay" class="form-control" />
                <span asp-validation-for="chainstay" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="reach" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="reach" class="form-control" />
                <span asp-validation-for="reach" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="stack" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="stack" class="form-control" />
                <span asp-validation-for="stack" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="standover" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="standover" class="form-control" />
                <span asp-validation-for="standover" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="wheelbase" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="wheelbase" class="form-control" />
                <span asp-validation-for="wheelbase" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="wheeldiameter" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="wheeldiameter" class="form-control" />
                <span asp-validation-for="wheeldiameter" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
