@model IEnumerable<FrameGeometry.Models.Geometry>

@{
    ViewData["Title"] = "Upload";
}

<h2>Upload</h2>

<form asp-action="Upload">
    <div class="form-horizontal">
        <h4>Geometry</h4>
        <hr />
    </div>
</form>

        <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
            <div class="row">
                <div class="col-md-10">
                    Choose your completed <a href="../GeometryTemplate.csv">CSV sheet</a> of geometries, then click Upload.
                    <br />   <br />
                </div>

                <div class="col-md-10">
                    <input type="file" name="file_in" />
                    <br />
                </div>
                <br />
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                    <br />
                </div>

            </div>
        </form>
